
p{
  margin: 0;
  line-height: 1.5;
}
body{
  text-align:center;
  color:#40514E;
  margin: 0;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 3.62rem;
  margin: 0 auto;
  color: #11999E;

}
hr{
  border:dotted #BDC7C9 6px;
  border-bottom: none;
  width: 10%;
  margin: 0 auto;


}
.intro{
  line-height: 1.5;
}
.rand1{
  font-family: 'IBM Plex Sans', sans-serif;
}
.pro{
  text-decoration: underline;
}
.top_div{
  background-color: #DEEDF0;
  text-align: center;
  padding-top:100px;
  width: 100%;
}
.topimg{
  border-radius: 100%;
  position:absolute;
  left:100px;
  top:150px;
}
.midimg{
  border-radius: 100%;
  position:absolute;
  left:800px;
  top:50px;
}
.bottomimg{
  margin-top: 250px;
  border-radius: 25%;
}

.middle_div{
  background-color: #E4EFE7;
  text-align: center;
  padding: 100px 0 20px 0;
  width: 100%;
}
.profile{
  border-radius: 100%;
  width: 25%;
}
.hola{
  padding-top: 60px;
  color: #11999E;
}
.coding{
  float: left;
  position: relative;
  width: 20%;
  left: 6rem;
  top: 30px;
  border-radius: 80%
}
.data{
  float: right;
  position: relative;
  right:100px;

  width: 20%;
  border-radius: 80%;
}
.p1margin{
  margin-bottom: 200px;
  text-align: left;
  margin-left: 500px;
  padding-top: 60px;
}
.p2margin{

  text-align: left;
  margin-left: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: inline-block;

}
.webd{
  color: #11999E;
  text-align: left;
  position: relative;
  left:360px;
  top: 50px;

}
.dsci{
  color: #11999E;
  text-align: left;
  position: relative;
  left: 420px;
  top:30px;
}
.bottom_div{
  width: 100%;
  background-color: #EEEEEE;
}
.hh2{
  margin:0 auto;
  padding-top: 20px;
  color: #11999E;
}
.button {
   background: #1ED0C5;
   background-image: -webkit-linear-gradient(top, #1ED0C5, #3D94F6);
   background-image: -moz-linear-gradient(top, #1ED0C5, #3D94F6);
   background-image: -ms-linear-gradient(top, #1ED0C5, #3D94F6);
   background-image: -o-linear-gradient(top, #1ED0C5, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1ED0C5, #3D94F6);
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   color: #2461C6;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: 500;
   padding: 8px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #24C693 0;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}
footer{
  background-color: #A9E4D7;
}
.quote{
  color: #11999E;
  margin: 0 auto;
  padding-top: 30px;
}
a{
  color: #11999E;
  text-decoration: none;
  margin: 20px 30px;


}
a:hover{
  color: #34656D;
}
.foot{
  padding-top: 40px;
}
.last{
  color: #11999E;
  margin: 30px auto 0;

}
